@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');
.container {
  position: relative;
  width: 1186px;
  height: 720px;
  margin: 142px auto;
  background-color: #0e1649;
}

h1 {
  padding: 35vh;
  font-family: Assistant;
  color: #fcfaf7;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 54px;
}
.logo {
  position: absolute;
  left: -187px;
  top: 78px;
}
.polyBig {
  position: absolute;
  top: -81.5px;
  left: 835px;
}
.polySmall {
  position: absolute;
  top: 433px;
  left: -65.5px;
}
.squere {
  width: 176px;
  height: 176px;
  background-color: #ff7748;
}
#squere-right {
  position: absolute;
  top: 199px;
  left: 1098px;
}
#squere-left {
  position: absolute;
  top: 632px;
  left: -88px;
}
.small-circle {
  width: 104px;
  height: 104px;
  background-color: #ff9f00;
  border-radius: 52px;
  position: absolute;
  left: 151px;
  bottom: -52px;
}
.big-circle {
  background-color: #ff9f00;
  width: 283px;
  height: 284px;
  border-radius: 141.5px;
  position: absolute;
  top: -141.5px;
  left: 1045px;
}
