header {
  height: 100px;
  background-color: #0e1649;
}

.logo {
  padding: 20px 64px;
}

p {
  padding-top: 16px;
  font-family: Arial;
  font-size: 18px;
  line-height: 1.5;
}

.last {
  margin-bottom: 40px;
}
h1 {
  font-family: Times New Roman;
  font-size: 72px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1.44px;
  color: #0e1649;
}

hr {
  margin-bottom: 40px;
}
.subtext {
  font-family: Courier New;
  font-size: 26px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.56px;
  color: #1c1c1c;
  margin-bottom: 24px;
}
.react-article {
  padding-left: 64px;
}

button {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 16px 43px;
  color: #fff;
  border-radius: 12px;
  background-color: #ff9f00;
  border: solid 2px #ff9f00;
  height: 58px;
  line-height: normal;
  text-transform: uppercase;
}

button:hover {
  border: solid 2px #ff9f00;
  background-color: #ffffff;
  color: #ff9f00;
}

.button-spacing {
  margin-right: 16px;
}

.button-container {
  margin-bottom: 64px;
}

.description-container h2 {
  font-family: Courier New;
  font-weight: bold;
  font-size: 24px;
  color: rgba(14, 22, 73, 0.8);
}

.mark {
  text-decoration: underline;
  background-color: #cfd0d6;
  color: #1c1c1c;
}

.component-container {
  margin-bottom: 40px;
}

.component-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #1c1c1c;
}

.component-container a {
  color: #ff7748;
}

article {
  max-width: 712px;
}

#main-container {
  background-color: #fcfaf7;
}
